include ./pug/mixins.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Trip planner
    link(rel="stylesheet" href="./app.css")
    link(rel="stylesheet" href="./styles/popular.css")
    link(rel="stylesheet" href="./styles/gem.css")

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet")
  body
    section.top-tours
      .container
        .h2.tour-heading Top Bangkok Tours
        .tour-list
          +tourItem("https://images.unsplash.com/photo-1500835556837-99ac94a94552?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
            "From $40", "Thailands Ayutthaya Temples Cruise from Bangkok", 4.8, 88, "1 hour", 45)
          +tourItem("https://images.unsplash.com/photo-1436491865332-7a61a109cc05?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
            "From $50", "FLoating Markets Day Trip from Bangkok", 4.5, 70, "3 hours", 67)
          +tourItem("https://images.unsplash.com/photo-1532364158125-02d75a0f7fb9?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
            "From $50", "Bangkok Dinner Cruise on the ", 4.8, 12, "9 hours", 61)
    section.popular
      .container
        .popular-list
          +popularItem
          +popularItem 
          +popularItem
          +popularItem
    section.gem
      .container
        h2.heading Hidden gems in Bangkok
          .gem-list
              .gem-item
                img(src="https://images.unsplash.com/photo-1578515756933-ac9df17791f3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="")
              .gem-item
                img(src="https://images.unsplash.com/photo-1589312290984-c1ae35fb0de8?q=80&w=2093&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="")
              .gem-item
                img(src="https://images.unsplash.com/photo-1572406832866-3619d0fe2afe?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="")
              .gem-item
                img(src="https://images.unsplash.com/photo-1711648806083-2a4a3a218d8d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="")
              .gem-item
                img(src="https://images.unsplash.com/photo-1658201198418-12efddb80f2b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="")
                
  
  
 

 

