body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 200px;
}

ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .radio-label, .checkbox-label {
  display: inline-block;
  cursor: pointer;
} */

/* .checkbox, .radio {
  width: 20px;
  height: 20px;
  border: 1px solid #e6e8ec;
  border-radius: 8px;
  color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* 
.checkbox-input, .radio-input {
  display: none;
}

.checkbox-input:checked + .checkbox {
  background-color: #3B71FE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-input:checked + .radio {
  background-color: #3B71FE;
  display: flex;
  justify-content: center;
  align-items: center;

}

.checkbox svg, .radio svg {
  height: 6px;
}


.toggle-label {
  display: inline-block;
  cursor: pointer;

}

.toggle {
  box-sizing: border-box;
  width: 48px;
  height: 24px;
  border-radius: 100rem;
  background-color: #E7ECF3;
  padding: 4px 5px;

  transition: all 0.3s linear;


}

.toggle-spiner {
  width: 16px;
  height: 16px;
  border-radius: 100rem;
  background-color: white;
  transition: all 0.3s linear;
}

.toggle-input {
  display: none;
}

.toggle-input:checked + .toggle {
    background-color: #3B71FE;
}

.toggle-input:checked + .toggle .toggle-spiner {
  transform: translateX(22px);
} */
.dropdown {
  width: 152px;
  position: relative;
}
.dropdown-select {
  padding: 10px 12px;
  border-radius: 6px;
  color: white;
  font-family: "DM Sans", "Helvetica Neue";
  background-color: #353945;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
}

.dropdown-list {
  background-color: white;
  padding: 10px;
  box-shadow: 0px 30px 120px 0px #1e1e1e1a;
  border-radius: 10px;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
  margin-top: 20px;
}
.dropdown-list::before {
  content: "";
  height: 20px;
  background-color: transparent;
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
}

.dropdown-item {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 8px;
  transition: all 0.3s linear;
}

.dropdown-item:hover {
  background-color: #f4f5f9;
}



.table {
  margin-top: 50px;
}

table {
  width: 100%;
}

table th, table td {
  text-align: left;
  vertical-align: middle;
}