.header {
    background-color: white;
    padding: 16px 0;
    box-shadow: 0px 6px 30px rgba(15, 15, 15, 0.06);
    margin-bottom: 70px;
}
.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header-item{
  color: #777E90;
  padding: 14px 22px;
  border-radius: 10px ;
  background-color: #f4f5f9;
}

.header-item:hover {
  background-color: #3B71FE;
  color: white;
  transition: all 0.3s linear;
}